#root {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto ;
  width: 90%;
  gap: 1.5rem;
}

.episode-container {
  width:100%;
  margin:0 auto; 
  text-align:center;
  background-color: lightgray;
}

p {
  width: 85%;
  margin:auto;
  text-align: left;
}

