<<<<<<< HEAD
.allEpisodesDiv {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgray;
  margin: 0;
}

p {
  max-width: 150px;

}

.episodeName {
max-width: 150px;
=======
#root {
  color: black;
>>>>>>> d6d84b9013b6a7e5e7c82802933f8408c12a7312
}
