.allEpisodesDiv {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgray;
  margin: 0;
<<<<<<< HEAD
=======
}

p {
  max-width: 150px;
}

.episodeName {
  max-width: 150px;
>>>>>>> refs/remotes/origin/master
}

p {
  max-width: 150px;
}

.episodeName {
  max-width: 150px;
}